@import "tailwindcss";

@theme {
  --color-primary-navbar: #111111; /* Updated to very dark gray */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-anchor: none;
}
